<a href="https://colab.research.google.com/github/SimonDP22/ml100/blob/master/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Astuce Pandas 1/100 

Ajoutez un préfixe à tous vos noms de colonne:

```
# df.add_prefix('Prefix_')
```

Ajoutez un suffixe à tous vos noms de colonne :

```
# df.add_prefix('Prefix_')
```

In [1]:
import pandas as pd
df = pd.read_csv('/content/sample_data/california_housing_test.csv')
df.head(1)

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0

[1 rows x 9 columns]

In [2]:
# Ajouter un préfixe
df_pre = df.add_prefix('prefix_')
df_pre.head(1)

   prefix_longitude  ...  prefix_median_house_value
0           -122.05  ...                   344700.0

[1 rows x 9 columns]

In [3]:
# Ajouter un suffixe
df_suf = df.add_suffix('_suffix')
df_suf.head(1)

   longitude_suffix  ...  median_house_value_suffix
0           -122.05  ...                   344700.0

[1 rows x 9 columns]