<a href="https://colab.research.google.com/github/SimonDP22/ml100/blob/master/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Astuce Pandas 2/100

Vous voulez connaître le nombre de valeurs manquantes dans un DataFrame?

```
# df.isna().sum().sum()
```

Vous voulez juste savoir s'il y a des valeurs manquantes ? (booléenne)

```
# df.isna().any().any()
```

In [9]:
# importe Pandas, le fichier csv
import pandas as pd
df = pd.read_csv('/content/sample_data/california_housing_test.csv')
df.head(1)

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0

[1 rows x 9 columns]

In [20]:
df.isna().sum().sum()

1401

In [21]:
df.isna().any(axis=None)

True