<a href="https://colab.research.google.com/github/SimonDP22/ml100/blob/master/day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Astuce Pandas 3/100
Vous voulez scraper une page Web pour des donnees. Utilisez la fonction  `read_html()` intégrée à Pandas pour obtenir les données dans un DataFrame.

In [0]:
import pandas as pd

In [0]:
url = 'https://ca.finance.yahoo.com/screener/predefined/day_gainers'

In [0]:
# Retourne une liste de DataFrame
df =  pd.read_html(url)[0]

In [4]:
df.head()

  Symbol  ... 52 Week Range
0  GBXPY  ...           NaN
1   SRPT  ...           NaN
2  GBOOF  ...           NaN
3  ICAGY  ...           NaN
4  IENVF  ...           NaN

[5 rows x 10 columns]