<a href="https://colab.research.google.com/github/SimonDP22/ml100/blob/master/day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Astuce Pandas 5/100

Besoin de séparer le nom complet en prénom et nom, utilisez `str.plit(n=1)`

In [29]:
import pandas as pd
df = pd.DataFrame({'complet':['Jean Soleil', 'Marie France', 'Paul Hagger']})
df.head()

        complet
0   Jean Soleil
1  Marie France
2   Paul Hagger

In [0]:
df['prenom'] = df['complet'].str.split(n=1).str[0]
df['nom'] = df['complet'].str.split(n=1).str[1]

In [31]:
df.head()

        complet prenom     nom
0   Jean Soleil   Jean  Soleil
1  Marie France  Marie  France
2   Paul Hagger   Paul  Hagger